#Papa1 {
    width: 100%;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo1 {
    width: 95.53%;
    height: 190px;
    background-color: coral;
    margin-top: 40px;
}

#Papa2 {
    width: 100%;
    height: 609px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo2 {
    width: 71.25%;
    height: 550px;
    background-color: coral;
    margin-right: 10px;
}
.hijo3 {
    width: 23.75%;
    height: 550px;
    background-color: coral;
}